<ngx-graph
  class="chart-container"
  [view]="view"
  [legend]="showLegend"
  [links]="myLinks"
  [nodes]="myNodes"
  [curve]="curve"
  [layout]="layout"
  [autoZoom]="true"
  [zoomSpeed]="0.02"
  >

  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" [attr.stroke]="arrowHeadColor" />
    </svg:marker>
  </ng-template>

  <ng-template #nodeTemplate let-node >
    <svg:g class="node" (dblclick)="handleDoubleClick(node)" (mouseover)="handleMouseOver(node)" (mouseout)="handleMouseOut(node)" [attr.opacity]="node.opacity">
      <svg:rect  [attr.width]="node.width" [attr.height]="node.height + 3" [attr.fill]="node.fillColor" [attr.stroke-width]="3"
      [attr.stroke]="node.strokeColor" [attr.stroke-opacity]="1"/>
      <svg:text alignment-baseline="hanging" [attr.stroke]="node.strokeColor" style="text-anchor:middle;"[attr.x]="node.width/2" [attr.y]="5">{{node.label}}</svg:text>
      <svg:image alignment-baseline="baseline" [attr.width]="40" [attr.height]="40" [attr.xlink:href]="node.imageUrl" [attr.x]="node.width / 2 - 20" [attr.y]="23" ></svg:image>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        [attr.stroke]="link.strokeColor"
        marker-end="url(#arrow)" >
      </svg:path>
    </svg:g>
  </ng-template>

</ngx-graph>
