<h1>
  {{title}}
</h1>


<p-accordion>
  <p-accordionTab header="Pattern Sequence">
    <pattern-selector></pattern-selector>
  </p-accordionTab>


  <p-accordionTab header="Global Conditions">
    <input [(ngModel)]="globalConditionExpression" placeholder="Enter a global condition if necessary"
           style="width: 400px;"/>
  </p-accordionTab>

  <p-accordionTab header="Initial Capabilities">
    <caps></caps>
  </p-accordionTab>

</p-accordion>

<div>
  <pattern-graph>

  </pattern-graph>
</div>

<div *ngIf="isInitialized" style="margin-top: 25px;">


  <button pButton type="button" label="Execute Algorithm" (click)="search()"></button>
  <div *ngIf="paths">
    <div *ngFor="let path of paths">
      {{path.toString()}}
    </div>

  </div>


</div>

<div *ngIf="!isInitialized">
  Initializing Services...
</div>
