<h1>
  {{title}}
</h1>
<div>
  <div>
<label>Select solutions based on following patterns: (hint: elastic load balancer,stateless component,blob storage) </label>
  </div>
<input [(ngModel)]="listOfPatterns" placeholder="comma-separated list of pattern uris" style="width: 50em; margin: 5px;"/>
</div>
<div *ngIf="isInitialized">
<button (click)="search()">Execute Algorithm</button>
<div *ngIf="paths">
<div *ngFor="let path of paths">
  {{path.toString()}}
</div>

</div>


</div>

<div *ngIf="!isInitialized">
  Initializing Services...
</div>
