<h4 style="margin-top: 5px;">Properties:</h4>

<div>
  <p-autoComplete [(ngModel)]="propNameQuery" [suggestions]="suggestions"
                  (completeMethod)="searchForSuggestions($event)"
                  placeholder="Label"
                  [minLength] = "1" [size] = "30"
                  [dropdown]="true" (onDropdownClick)="handleDropdown($event)">
    <ng-template let-propName pTemplate="item">
      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
        <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{propName}}</div>
      </div>
    </ng-template>
  </p-autoComplete>
  <input [(ngModel)]="newValueInput" placeholder="Value" style="width: 100px"/>
  <button pButton type="button" label="Add" (click)="addProperty(propNameQuery, newValueInput)"></button>
</div>

<div>
  <ul *ngIf="properties.length > 0">
    <li *ngFor="let property of properties" style="margin-top: 10px;">
      {{property[0]}} : {{property[1]}}
      <button pButton type="button" label="Remove" (click)="removeProperty(property[0])"></button>
    </li>

  </ul>

  <label *ngIf="properties.length === 0">No properties...</label>
</div>
