<ngx-charts-directed-graph
  class="chart-container"
  [view]="view"
  [legend]="showLegend"
  [links]="myLinks"
  [nodes]="myNodes"
  [orientation]="orientation"
  [curve]="curve"
  [nodeHeight]="nodeSide"
  [nodeWidth]="nodeSide"
  [zoomLevel]="0.7"

>

  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #nodeTemplate let-node >
    <svg:g *ngIf="node.nodeType === 'CS'" class="node" (dblclick)="handleDoubleClick(node)" [attr.opacity]="node.opacity">
      <svg:polygon [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.fillColor" [attr.stroke-width]="3" [attr.stroke]="node.strokeColor" [attr.stroke-opacity]="0.6" [attr.points] = "getPolygonPoints(node.width, node.height)">
      </svg:polygon>

      <svg:text alignment-baseline="middle" [attr.stroke]="node.strokeColor" style="text-anchor: middle;" [attr.x]="node.width/2" [attr.y]="node.height/2">{{node.label}}</svg:text>
    </svg:g>

    <svg:g *ngIf="node.nodeType === 'Agg'" class="node" (dblclick)="handleDoubleClick(node)">
      <svg:circle [attr.cx]="node.width / 2" [attr.cy]="node.height / 2" [attr.r]="(node.width - 15) / 2" [attr.stroke]="node.strokeColor" [attr.stroke-width]="3" [attr.fill]="node.fillColor" />
      <svg:line [attr.x1]="(node.width)/ 2" [attr.y1] = "15" [attr.x2] = "(node.width)/2" [attr.y2]="node.height - 15" [attr.stroke]="node.strokeColor" [attr.stroke-width]="3"/>
      <svg:line [attr.x1]="15" [attr.y1] = "node.height/2" [attr.x2] = "node.width - 15" [attr.y2]="node.height/2" [attr.stroke]="node.strokeColor" [attr.stroke-width]="3"/>
      <svg:text alignment-baseline="baseline" [attr.x] = "node.width" [attr.y]="node.height" style="text-anchor: end;font-size:0.7em;">{{node.label}}</svg:text>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        [attr.stroke]="link.strokeColor"
        marker-end="url(#arrow)" >
      </svg:path>
    </svg:g>
  </ng-template>

</ngx-charts-directed-graph>
